# JWT Secret - generate with
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=your-jwt-secret-here
# The value same as in services/{auth,product,order}/.env files
REFRESH_SECRET=your-refresh-secret-here
ADMIN_EMAIL=admin@test.com
ADMIN_PASSWORD=admin123
ADMIN_NAME=Administrator
